
* {
    color: $font-color;
}

.btn {
    border: none;
    outline: none;
}

.btn-primary {
    background-color: #4460F7;
    color: #FFFFFF;

    &:disabled {
        background-color: #9194A5;
    }

    &:hover {
        background-color: #2140E8;
    }
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #4460F7;

    &:disabled {
        color: #9194A5;
    }

    &:hover {
        color: #2140E8;
    }
}