:root {
    --primary-color: #4460F7;
    --secondary-color: #2140E8;
    --gray-1: #F0F1F5;
    --gray-2: #E0E2EA;
    --gray-3: #B9BDCF;
    --gray-4: #9194A5;
    --black: #1A1B1D;
    --white: #FFFFFF;
}
