body {
    font-family: 'Nunito';
}

header > h1 {
    margin-bottom: 29px;
}

form {
    padding-bottom: 16px;
    padding-top: 29px;
}

form button, form label {
    max-width: 496px;
    width: 100%;
}

form label, form label > input {
    margin: 8px 0;
}

form button, form label > input {
    padding: 16px !important;
    width: 100%;
}

form input {
    border: 1px solid #E0E2EA !important;
    border-radius: 8px;
    color: #9194A5;
}

form button {
    margin-top: 56px;
}

.btn {
    border: none;
    outline: none;
}

.btn-primary {
    background-color: #4460f7;
    color: #fff;
}

.btn-primary:disabled {
    background-color: #9194a5;
}

.btn-primary:hover {
    background-color: #2140e8;
}

.btn-secondary {
    background-color: #fff;
    color: #4460f7;
}

.btn-secondary:disabled {
    color: #9194a5;
}

.btn-secondary:hover {
    color: #2140e8;
}