@import url(./colors.css);

@import url(./animations/hover-color.css);

@import url(./components/alert.css);
@import url(./components/button.css);
@import url(./components/checkbox.css);
@import url(./components/form.css);
@import url(./components/preview.css);
@import url(./components/table.css);

body {
    font-family: 'Nunito';
}

header > h1 {
    padding: 29px 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.d-none {
    display: none !important;
}

.p-0 {
    padding: 0;
}

.w-100 {
    width: 100%;
}
