.btn {
    border: none;
    outline: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:disabled {
    background-color: var(--gray-4);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--white);
    color: var(--primary-color);
}

.btn-secondary:disabled {
    color: var(--gray-4);
}

.btn-secondary:hover {
    color: var(--secondary-color);
}