form {
    padding-bottom: 16px;
    padding-top: 29px;
}

form button, form label {
    max-width: 496px;
    width: 100%;
}

form label, form label > input, form label > textarea {
    margin: 8px 0;
}

form button, form label > input, form label > textarea {
    padding: 16px !important;
    width: 100%;
}

form label:has(input[type="checkbox"]) {
    display: grid;
    grid-auto-flow: column;
}

form input, form textarea {
    border: 1px solid var(--gray-2) !important;
    border-radius: 8px;
    color: var(--gray-4);
}

form textarea {
    max-height: 200px;
    min-height: 100px;
    resize: vertical;
}

form button.btn-primary {
    margin-top: 56px;
}

input[type="checkbox"]:checked {
    accent-color: var(--primary-color);
}