table {
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 1px solid var(--gray-2);
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

table tr:nth-child(even) {
    background-color: var(--gray-1);
}

table tr:not(:has(th)):hover {
    background-color: var(--gray-2);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
}