.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard__menu {
    align-items: center;
    display: flex;
    margin: 48px 0 !important;
    padding: 0 108px;
}

label {
    display: inline-flex;
}

label > input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

label > span {
    margin: 4px 8px 0;
}

label > input[type="checkbox"], input[type="search"] {
    border: 1px solid var(--gray-2) !important;
    border-radius: 8px;
}

input[type="search"] {
    color: var(--gray-4) !important;
    max-width: 392px;
    padding: 16px;
    width: 100%;
}

.dashboard__content {
    background-color: var(--gray-1);
    flex-grow: 1;
    padding: 56px 108px;
}

#spinner {
    height: 50px;
    left: 50%;
    position: absolute;
    top: 55%;
}

.dashboard__content-empty {
    align-items: center;
    background: var(--white);
    display: none;
    flex-direction: column;
    height: 344px;
    justify-content: center;
}

.dashboard__content-empty > img {
    margin-bottom: 22px;
}

.dashboard__content-empty > p:first-of-type {
    color: var(--black);
    font-size: 18px;
}

.dashboard__content-empty > p {
    color: var(--gray-4);
    font-size: 14px;
    font-weight: 600;
}

.dashboard__menu-checkboxes {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.dashboard__product {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-bottom: 32px;
    padding: 0;
}

.dashboard__product > img {
    max-height: 200px;
    object-fit: contain;
}

.dashboard__product > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 15px;
}

.dashboard__product > div > h4 {
    font-weight: 700;
}

.dashboard__product > div > p {
    color: var(--gray-4);
    font-weight: 500;
}
