.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard__menu {
    align-items: center;
    display: flex;
    margin: 48px 0 !important;
    padding: 0 108px;
}

label {
    display: inline-flex;
}

label > input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

label > span {
    margin: 4px 8px 0;
}

label > input[type="checkbox"], input[type="search"] {
    border: 1px solid var(--gray-2) !important;
    border-radius: 8px;
}

input[type="search"] {
    color: var(--gray-4) !important;
    max-width: 392px;
    padding: 16px;
    width: 100%;
}

.dashboard__content {
    background-color: var(--gray-1);
    flex-grow: 1;
    padding: 56px 108px;
}

.dashboard__menu-checkboxes {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.dashboard__product {
    background-color: var(--white);
    height: 400px;
    margin-bottom: 32px;
}